* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input,
button,
select,
textarea {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;

  background: #e5e5e5;
}

body::before {
  content: '';
  width: 100%;
  height: 368px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #121214;
}
.page {
  width: 736px;
  margin: auto;
}

header {
  width: 319px;
  margin-top: 74px;
}

header h1 {
  color: #fff;
  font-family: Archivo;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 24px;
}

header p {
  color: #42d3ff;
  line-height: 26px;
}

form {
  margin-top: 38px;
  background: #fafafc;
  min-height: 300px;
  border-radius: 8px;
  padding: 64px;
}

fieldset {
  border: none;
}

fieldset legend {
  color: #32264d;
  font-family: Archivo;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;

  width: 100%;
  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 16px;
}

#fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#input-wrapper {
  display: flex;
  flex-direction: column;
}

#input-wrapper label {
  color: #4e4958;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
}

#input-wrapper label span {
  margin-left: 12px;
  color: #6c6a71;
  font-size: 12px;
  line-height: 20px;
}

#input-wrapper input,
#input-wrapper textarea {
  border-radius: 8px;
  border: 1px solid #e6e6f0;
  background: #fafafc;
  height: 56px;
  padding: 0 24px;
  color: #6c6a71;
  line-height: 26px;
}

#input-wrapper textarea {
  padding: 0;
  height: 168px;
}
